<div class="row mt-10">
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <button class="btn btn-primary" [disabled]="!inputText" (click)="clearInputOne()">Clear input1</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-warning" [hidden]="!inputText2" (click)="showEvent($event)">Clear input2</button>
  </div>
  <div class="col-md-2">
    <button class="btn btn-danger" (click)="clickCount()">Click Count</button>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row mt-15">
  <div class="col-md-2"></div>
  <div class="col-md-4" align="right">
    <span *ngIf="showHi" >Hi has been alerted for {{countHi}} times</span>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <button class="btn btn-primary" (click)="reset()">reset</button>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row mt-10">
  <div class="col-md-1"></div>
  <div class="col-md-6" align="right">
    <span>two way binding with Event and String Interpolation:</span>
  </div>
  <div class="col-md-5">
    <input (input)="showInputText($event)">
  </div>
</div>
<div class="row mt-15">
  <div class="col-md-1"></div>
  <div class="col-md-6" align="right">
    <span>result:</span>
  </div>
  <div class="col-md-5">
    <span class="mt-10">{{inputText}}</span>
  </div>
</div>

<div class="row mt-10">
  <div class="col-md-1"></div>
  <div class="col-md-6" align="right">
    <span>two way binding with ngModel:</span>
  </div>
  <div class="col-md-5">
    <input [(ngModel)]="inputText2">
  </div>
</div>
<div class="row mt-15">
  <div class="col-md-1"></div>
  <div class="col-md-6" align="right">
    <span>result:</span>
  </div>
  <div class="col-md-5">
    <span class="mt-10">{{inputText2}}</span>
  </div>
</div>
